@import "tailwindcss";
@config "./tailwind.config.mjs";

@layer base {
  h3 {
    @apply mb-8 text-4xl font-bold text-darkGrayishBlue md:text-5xl;
  }

  h5 {
    @apply mb-2 text-2xl font-bold text-darkGrayishBlue;
  }
}

@layer components {
  .section-container {
    @apply max-w-6xl mx-auto text-center px-10;
  }

  .button-container {
    @apply p-4 px-8 rounded-full shadow-lg duration-200 hover:opacity-80;
  }
}

body {
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 576px) {
  body {
    background-image: url("../images/bg-header-mobile.png");
  }
}
